
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@100;300;400&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* nav bar */

.navbar{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: black;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  box-shadow: 0px 8px 6px -6px gray;
  --webkit-box-shadow:0px 8px 6px -6px gray;
  border-bottom:0.5px solid gray !important;
}

.nav-link{
  font-weight: 400 !important;
}

.active{
  border-bottom: 2px solid black;
}
.nav-item{
  margin-right: 30px;
 
  
}
.navbar-brand{
  font-weight: 300;
  font-size: 16px;
  padding: 5px;
  font-family: 'Poppins';
  letter-spacing: 3px;
}
.icon{
  font-size: 25px;
  margin-right: 8px;
  padding: 0 0 0 0;
}
.nav-item a:hover{
  color: #160f1c;
}


                    /* Footer css*/

.footer-box{
  background-color: rgb(111, 16, 200);
}
.footer-menu{
  color: aliceblue;
  text-decoration: none;
}
.footer-box a{
  color: rgb(250, 250, 251);
  margin-right: 15px;
}
.footer-box a:hover{
  color: #160f1c;
}

nav-link:hover{
  color:rgb(25, 15, 35)
}


/* Register page */

.container-box{
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
  
  flex-direction: column;
  
}
.btn-primary{
  margin: auto auto;
  width: 7rem;
  
  justify-content: center;
  position: relative;
  left: 25%;
  bottom: 2%;
  /* Center horizontally*/
  
}

.align-item-center{
  align-items: center;
}

.Problem-Container{
  height: 100vh;
  width: auto;
  margin-bottom: 2px;
}
.Problem-Statement{
  border-right: solid 1.4px rgb(229, 229, 229);
  float:left;
  padding:4px;
  width: 50%;
  height: 100vh;
  background-color: rgb(255, 255, 255);

}
.Input{
  float:left;
  
  width: 50%;
  height: 50%;
  background-color: rgb(255, 255, 255);
}
.Output{
 
  border-top: solid 1.4px rgb(229, 229, 229);
  float: right;
  width: 50%;
  height: 50%;
  
}
.output-in-container{
  
  
  float: left;

  width: 100%;
  height: 90%;
  background-color: rgb(249, 246, 214);
  
}
.User-input{
  float: left;
  width: 50%;
  background-color: rgb(255, 255, 255);
  height: 100%;
  text-align: center;
}
.Output-in-right{
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  
}
.User-input-textarea{
  background-color: #28262a;
  color: aliceblue;
  padding: 4px;
  border-style: none;
  width: 100%;
  height: 90%;
  resize: none;
}
.User-input-title{
  height: 10%;
  width: 100%;
  margin-bottom: 0;
}
.Output-title{
  height: 10%;
  margin-bottom:0;
}
.submit-code{
  float: left;
  height: 2.1rem;
  padding: 2px 8px 2px 8px;
  margin: 3px 0 3px 3px;
  
  
}
.language-code{
  float: right;
  height: 2.1rem;
  padding: 2px 8px 2px 8px;
  margin: 3px 0 3px 3px;
}
.Input-in-down{
  height: 10%;
}


