# Ignore Node.js build artifacts
/node_modules
!assignments
!students-details

# Ignore log files and database files
*.log
*.sqlite

# Ignore environment files (containing sensitive information)
.env
.env.local
.env.*.local

# Exclude client/.env from being ignored
!client/.env

# Ignore build output
/build

# Ignore development-specific files
.vscode/
.DS_Store

# Ignore IDE and editor-specific files
.idea/
*.suo
*.ntvs*
*.njsproj

# Ignore dependency files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore Mac-specific files
.DS_Store

# Ignore Windows thumbnail files
Thumbs.db

# Ignore compiled Python files
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore .gitignore and .gitattributes files
.gitignore
.gitattributes
