<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>V-lab</title>
</head>
<body>
    <div id="header">
        V-lab Solutions
        <div class="menu">
            
                <ul>
                    <li class="home">Home</li>
                    <li class="assign">Assignments</li>
                    <li class="compile">Compiler</li>
                    
                </ul>
        
        </div>
    </div>
    <hr>
    <div id="container">
        <div id="status">
            <div>
            <h3>Tasks</h3>
            <hr>
            <ul>
                <li class="subitems"><a href="#">Pending </a><div class="circle">10</div></li>
                <li class="subitems"><a href="#">Completed </a><div class="circle">10</div></li>
                <li class="subitems"><a href="#">Missing </a><div class="circle">100</div></li>
                
            </ul>
            </div>
            
        </div>
        <div class="middle-02">
            <h3>This week</h3>   
            <p>No annoucements coming up immediately</p> 
            <div class="middle-inner-rows">
                <div class="inner-rows-1">
                    <h5>Assignment 1 <div class="time-01">Posted 5hours ago</div></h5>
                    <p>DSA Lab-05</p>
                    
                </div>
                <hr>
                
                
            </div>
            
        </div>
        
        
        
    </div>
    <p id="logged"></p>
    <script src="login.js"></script>
</body>

</html>