.icon {
  margin-bottom: 15px;
}
.user-name {
  margin-top: 7px;
}

/*      Create Assignments */

.assign-title {
  font-family: "Poppins";
  text-align: center;

  height: 3rem;
  width: auto;
  margin: 10px;
  border-radius: 11px;
  background-color: #322653;
  color: white;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}
.assign-title-name {
  font-family: "Poppins";
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  align-items: center;
  padding: 12px 5px;
  align-items: center;
}
.item-1 {
  grid-column: 1 / span 2;
}
.assign-title {
  font-family: "Poppins";
  position: relative;
  align-items: center;
}

.assign-span {
  font-family: "Poppins";
  margin-left: 15px;
  display: inline-flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: aliceblue;
  color: #322653;
  justify-content: center;
}

.col-md-3 {
  width: 255px;
  margin-right: 0;
}
.assign-textarea {
  position: relative;
  padding: 10px 10px;
  word-wrap: normal;
  resize: none;
  margin: 10px 10px;
}
.assign-form-div-1 {
  font-family: "Poppins";
  margin: 10px 10px;

  text-align: center;
}
.assign-label-1 {
  position: relative;
  left: 4rem;
  margin-bottom: 6px;
}
.form-control {
  width: auto;
}
.btn-primary {
  position: none;
}
.assign-button {
  position: relative;
  left: 3rem;
  background-color: #25a309;
}
.assign-button:hover {
  background-color: #1c7e06;
}

/*  Admin/Student  */

.student-bulk-upload {
  border-radius: 10px;
  border: #4d385f dashed;
  padding: 2rem 2rem;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  p {
    margin: 0 0;
  }
}

.student-bulk-upload:hover {
  background: #f3f3f3;
  border-color: #765f92;
  text-align: center;
}
.student-button {
  background-color: #38115b;
  position: relative;
  top: 1rem;
  left: 0rem;
}
.student-button:hover {
  background-color: #570d98ac;
}

.input-file {
  font-family: "Poppins";
  font-weight: 500;
  padding: 10px 10px;
  background-color: #ffffff;
  border-radius: 12px;
  width: auto;
  font-size: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.row-students {
  text-align: center;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem 1rem;
}
.grid-items {
  background-color: rgb(255, 251, 245);
  padding: 2px;
}
.card-text {
  margin: 2px;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Left-align items horizontally within the container */
  justify-content: center; /* Center items vertically */
  /* Adjust the height as needed */
}

/*            Create Quiz              */

.main-box-quiz {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-box-quiz {
  background-color: #9447d8;
  border-radius: 15px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: auto;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-box-quiz {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  grid-row: 4;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  width: 95%;
  flex-direction: column;
}
.box-quiz {
  background-color: #ffffff;
  border-radius: 15px;
  height: 3rem;
  width: 99%;
  display: inline-flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: center;
}

.quiz-title-p {
  margin: 0 0.7rem 0 0;
}

.button-create-quiz {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quizQuestionBox {
  border: #959494 solid 1.5px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: 95%;
  height: auto;
  margin-bottom: 4px;
  margin-top: 0.6rem;
  padding: 0.5rem 0.3rem 0.5rem 0.3rem;
  p {
    margin: 0;
    font-weight: 600;
  }
}
.QuizKeys {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  flex-direction: column;
}
.quizOptionsBox {
  border: #959494 solid 1.5px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.5rem 0.3rem 0.5rem 0.3rem;

  row-gap: 4px;
  column-gap: 6px;
  columns: 1;
}
.Outer-Quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 97%;
  height: auto;
  padding: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.Option {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border: #acacac 0.7px solid;
  border-radius: 5px;
  padding: 0.3rem;
  text-align: start;
}

.Option:hover {
  background-color: #4dbf33ba;
}
.Option.active {
  background-color: #2f9c17ba;
}
.MainOuter-Quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.quiz-title-main-container {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
}
.quiz-title-container {
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.Option-Admin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  border: #acacac 0.7px solid;
  border-radius: 5px;
  padding: 0.3rem;
  text-align: start;
}
.Input-inner {
  width: 100%;
  height: auto;
  margin: 0;
  border: none;
  padding: 4px 4px;
}
.create-quiz-btn {
  background-color: #4dbf33ba;
  width: 9rem;
  height: 3rem;
  border: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.create-quiz-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.correct-answer {
  width: 4rem;
  height: 1.5rem;
  background-color: #ffffff;
  border: #c4c4c4 0.6px solid;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  margin-left: 0.6rem;
}

.correct-answer:hover {
  background-color: #5bb335;
  color: #f9fff8;
}

.correct-answer.active {
  background-color: #5bb335;
  color: #f9fff8;
}

/* ----------------------Admin/Dashboard/View Quizzes */
.admin-menu-css {
  height: 100%;
  width: 25vw;
  margin: 0 0;
  padding: 0 0 0 2rem;
}
.admin-right-view {
  height: auto;
  width: 70vw;
  margin: 0 0;
  padding: 0 1rem 0 1rem;
}
.searchbox {
  width: 100%;
  border: #c5c5c5 0.6px solid;
  border-radius: 4px;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  color: #949494;
  font-weight: 400;
  font-size: medium;
  height: 2rem;
}
.create-quiz-btn2 {
  width: 17%;
  height: 2rem;
  border: #000000 0.6px solid;
  border-radius: 4px;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  color: #ffffff;
  font-weight: 350;
  font-size: small;
  margin-left: 0.6rem;
  background-color: #000000;
}
.top-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0.3rem;
}
.Status-box {
  height: 1.6rem;
  width: 25%;
  border: #c5c5c5 0.6px solid;
  border-radius: 4px;
  font-weight: 350;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.6rem;
}
.container-quiz-view-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
}
.line-css {
  border-bottom: 1.4px solid #c5c5c5;
  width: 40%;
}
.select-status-quiz-view {
  width: 100%;
  border: none;
}
.sortBy-css {
  height: 1.6rem;
  width: 30%;
  border: #c5c5c5 0.6px solid;
  border-radius: 4px;
  font-weight: 350;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
}
.CreatedDate-css {
  font-weight: 400;
  font-size: small;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-quiz {
  input {
    font-size: small;
    overflow: hidden;

    height: auto;
  }
}
.recent-sort-css {
  width: 5%;
  border: #c5c5c5 0.6px solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
}
.QuizViewBox-css-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0.2rem 0.3rem 1rem 0.3rem;
}
.QuizViewBox-css-2 {
  width: 100%;
  height: auto;
  border: #c5c5c5 0.6px solid;
  border-radius: 4px;
  padding: 2% 2% 2% 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
.quiz-card {
  width: 25rem;
  height: 9rem;
  border: #c5c5c5 0.6px solid;
  border-radius: 4px;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
}
.QuizCardMiddle {
  font-size: 13px;
  margin: 0 0;
  padding: 0 0;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.QuizCardUpper {
  font-size: 8px;
  margin: 0 0;
  padding: 0 0;
  height: 35%;
}
.QuizCardBottom {
  font-size: 8px;
  margin: 0 0;
  padding: 0 0;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ul-quiz-card-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 70%;
  padding: 0 0;
  padding-left: 0.1rem;

  li {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }
  margin: 0 0;
  font-size: 0.7rem;
  font-weight: 500;

  color: #575757;
}
.ul-quiz-card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;

  li {
    margin-left: 0.7rem;
  }
  margin: 0 0;
  padding-left: 0;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .bottom-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    .bottom-inner-icon {
      margin: 0 0;

      font-weight: 600;
      font-size: 1.7em;
      .bottom-inner-icon-2 {
        margin: 0 0;
        font-size: 0.7em;
        padding: 0 0;
      }
    }
  }
  p {
    margin: 0 0;
    font-size: 0.6rem;
    font-weight: 600;
  }
  padding: 0 0.8rem;
  .bottom-inner-time {
    display: flex;

    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
  }
}
p {
  margin: 0 0;
  padding: 0 0;
}
.ul-quiz-card-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 0 0;
  padding-left: 0.1rem;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  p {
    margin: 0 0;
    padding: 0 0.3rem;
  }
  li {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }
  margin: 0 0;
  font-size: 0.7rem;
  font-weight: 500;
  padding-right: 2%;
  padding-left: 0;
}
.publish-btn-quiz-card-upper {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  width: 4rem;
  height: 1.1rem;
  border: #bf0a0a 0.8px solid;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-quiz-card-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  h5 {
    margin: 0 0;
  }
  p {
    font-size: 0.6rem;
    font-weight: 600;
    color: #bf0a0a;
    text-align: center;
    margin: 0 0;
    padding: 0 0;
  }
}
.row-container-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ai-main-container {
  width: 95%;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
  .ai-box {
    width: 35%;
    height: 5rem;

    position: absolute;
    bottom: 5rem;
    border: none;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .profile-box-ai {
      height: 50%;
      border: none;
      
      background-color: #e9d1ef;
      color: #585a57;
      font-size: 17px;
      font-weight: 600;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-top-right-radius: 9px;
      border-top-left-radius: 9px;
      .gemini-logo {
        margin: 0 7px;
        width: 22%;
        height: 1.2rem;
      }
      font-weight: 400;
    }
    
    .text-box-ai {
      display: flex;
      align-items: center;
      height: 50%;
      background-color: #e1e1e1;
      border: none;
      
      input{
        width: 70%;
        border: none;
        font-size: 1rem;
        height: 100%;
        background-color: #fcf9ff;
        padding-left: 3px;
        padding-right: 3px;
        border-bottom-left-radius: 9px;
      }
      .send-gemini{
        width: 30%;
        height: 100%;
        border: none;
        background-color: #4b0097c4;
        color: #fbfbfb;
        font-size: 1rem;
        font-weight: 600;
        border-bottom-right-radius: 9px;
      }
    }
  }
}

.ai-icon {
  width: 3.5rem;
  height: 2rem;

  img {
    width: 100%;
    height: 100%;
    border: #520992 solid 1.5px;
    border-radius: 18px;
  }
}

