.icon{
    margin-bottom: 15px;
}
.user-name{
    margin-top: 7px;
}


/*      Create Assignments */

.assign-title{
    font-family: 'Poppins';
    text-align: center;

    height: 3rem;
    width: auto;
    margin: 10px;
    border-radius: 11px;
    background-color: #322653;
    color: white;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;

}
.assign-title-name{
    font-family: 'Poppins';
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    align-items: center;
    padding: 12px 5px;
    align-items: center;
}
.item-1{
    grid-column: 1 / span 2;


}
.assign-title{
    font-family: 'Poppins';
    position: relative;
    align-items: center;

}

.assign-span{
    font-family: 'Poppins';
    margin-left: 15px;
    display: inline-flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: aliceblue;
    color: #322653;
    justify-content: center;

}

.col-md-3{
    width: 255px;
    margin-right: 0;

}
.assign-textarea{
    position: relative;
    padding: 10px 10px;
    word-wrap: normal;
    resize: none;
    margin: 10px 10px;

}
.assign-form-div-1{
    font-family: 'Poppins';
    margin: 10px 10px;

    text-align: center;
}
.assign-label-1{
    position: relative;
    left: 4rem;
    margin-bottom: 6px;


}
.form-control{
    width: auto;
}
.btn-primary{
    position: none;

}
.assign-button{
    position: relative;
    left: 3rem;
    background-color: #25a309;
}
.assign-button:hover{

    background-color: #1c7e06;
}


/*  Admin/Student  */

.student-bulk-upload{
    border-radius: 10px;
    border: #4d385f dashed;
    padding: 2rem 2rem;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;


}

.student-bulk-upload:hover{
    background: #f3f3f3;
    border-color: #765f92;
    text-align: center;


}
.student-button{
    background-color: #38115b;
    position: relative;
    top: 1rem;
    left: 0rem;


}
.student-button:hover{
    background-color: #570d98ac;



}

.input-file{
    font-family: 'Poppins';
    font-weight: 500;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.row-students{
    text-align: center;
    margin: 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;


}
.grid-items{
    background-color: rgb(255, 251, 245);
    padding: 2px;
}
.card-text{
    margin: 2px;
    display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Left-align items horizontally within the container */
  justify-content: center; /* Center items vertically */
   /* Adjust the height as needed */
}

.student-container{

}
