
.form-box{
    padding: 18px 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 3px rgb(222, 222, 222);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 280px;
    height: 440px;
}
.title{
    margin-top: 10px;
}